@use '/src/styles/color' as *;
@use '/src/styles/text' as *;
@use '/src/styles/icons' as *;
@use '/src/styles/index' as *;
@use '/src/styles/mixins' as *;

html {
  overflow-x: hidden;
}

.disabled {
  display: none;
}

.content {
  max-width: 1136px;
  margin: auto;

  @include down(tablet) {
    margin: 0 24px;
  }

  @include down(phone) {
    margin: 0 16px;
  }
}

.content__title {
  grid-column: 1 / -1;
  margin: 56px 0;
}


.bg-category {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 368px;
  max-height: 368px;
  overflow: hidden;
  position: relative;

  @include down(phone) {
    aspect-ratio: 1 / 1;
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
  }
}

.bg-category--phones {
  background-color: #6D6474;
}

.bg-category--tablets {
  background-color: #8D8D92;
}

.bg-category--accessories {
  background-color: #973D5F;
}

.number-models {
  color: $secondary-color
}

.categoty-photo {
  position: absolute;
  right: -30px;
  bottom: -40px;
  width: auto;
  height: 100%;
  max-height: none;
  object-fit: contain;

  transition: transform 0.3s ease;

  @include down(phone) {
    width: 150%;
    right: -250px;
    bottom: -80px;
  }
}

.categoty-photo:hover {
  transform: scale(1.05);
}


.shop-by-category {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 80px;
  text-decoration: none;
}

.shop-by-category a {
  text-decoration: none;
  color: inherit;
}

.shop-by-category__content {
  grid-column: 1 / -1;
  display: flex;
  width: 100%;
  margin-top: 24px;
  gap: 16px;

  > a {
    min-width: 0;
  }

  @include down(phone) {
    flex-direction: column;

    > a {
      flex: none;
    }
  }
}

.shop-by-category__title {
  margin-top: 24px;
}

.shop-by-category__quentity {
  margin-top: 4px;
}
